<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/css/index-sub.css">
</head>

<body>
  <h1>
    <span class="thumb">
      <img src="<%=cover%> " alt="<%=title%>">
    </span>
    <span class="title"> <%=title.toUpperCase()%></span>
  </h1>
  <a class="home" href="/index">[home]</a>
  <ul>
    <% dir.forEach(function(d){ %>
    <li>
      <a href="/index/<%=title%>/<%=d%>"><%=d%></a>
    </li>
    <% }); %>
  </ul>
</body>

</html>